<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
	<Properties>
		<Property name="LOG_PATTERN">
			%d{yyyy/MM/dd HH:mm:ss,SSS} [%-6p] %c{1} – %m%n
		</Property>
	</Properties>
	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT"
			follow="true">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>

		<!-- Rolling File Appender -->
		<RollingFile name="FileAppender"
			fileName="logs/cloud-ninja-server.log"
			filePattern="logs/cloud-ninja-server-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout>
				<Pattern>${LOG_PATTERN}</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="edu.neu.csye6225" level="info" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="FileAppender" />
		</Logger>

		<Root level="info">
			<!-- <AppenderRef ref="ConsoleAppender" /> -->
			<AppenderRef ref="FileAppender" />
		</Root>
	</Loggers>
</Configuration>
